/*========================================

	1A|. Css reset
	
	2A|. Css geral
		
	3A|. Media query


========================================*/


/*= 1A|. Css reset - http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 
====================================================================================*/

html {
	font-size: 62.5%; /* 10/16x100 */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 1.3rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
a {
	text-decoration: underline;
	color: #c8c8c8;
}
select {
    border-radius: 2px;
    border: 0.1rem solid #777;
    padding: 0.5rem;
    color: #c8c8c8;
	background:#fff;
}
input {
    border-radius: 2px;
    border: 1px solid #777;
    padding: 0.5rem 0 0.5rem 0.5rem;
	outline: none;
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

* {
	margin: 0;
    padding: 0;	
	font-family: 'Raleway', sans-serif;
	color: #c8c8c8;
}

/*estilo placeholder*/
::-webkit-input-placeholder {
   color: #c8c8c8;  
}
:-moz-placeholder {
   color: #c8c8c8;  
}
::-moz-placeholder {
   color: #c8c8c8;    
}
:-ms-input-placeholder {  
   color: #c8c8c8;
}

::-moz-selection { background: #47a7bd; }
::selection { background: #47a7bd; }


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/n1-fonts.eot');
  src:  url('fonts/n1-fonts.eot#iefix') format('embedded-opentype'),
    url('fonts/n1-fonts.ttf') format('truetype'),
    url('fonts/n1-fonts.woff') format('woff'),
    url('fonts/n1-fonts.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e900";
}
.icon-shopping-cart:before {
    content: "\e901";
}
.icon-success:before {
    content: "\e902";
    color: #6ac259;
}
.icon-menu-mobile:before {
    content: "\ea7a";
}

.popCompra {
	position: absolute;
    z-index: 99;
    background: #fff;
    width: 250px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 220px;
    text-align: center;
    color: #4ec2dd;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.popCompra .icon-success {
    font-size: 5rem;
    margin: 4rem auto 2rem auto;
    display: table;
}
.popCompra .bt {
	background: #0f4156;
    box-shadow: none;
    padding: 0.5rem 3rem;
    margin: 3rem auto 0 auto;
	font-size: 1.5rem;
	
}


/*= 2A|. Css geral 
=============================*/

.erro {
	color:#ff0000;
	font-weight:800;
}

.cortina:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.4;
}
.cortina {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
	touch-action: none;
}

.detalhe {
	padding: 0 1rem;
}
.contem-header {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.5rem 0.5rem 0.5rem;
}
.contem-header .icon-menu-mobile {
    order: 2;
}
.contem-header .logo {
    width: 20%;
	order:3;
}
nav.menu {
    order: 1;
    position: absolute;
    top: 0;
    left: -271px;
    background: #fff;
    padding: 1rem 1rem 5rem 1rem;
	width: 270px;
	z-index: 99;
	transition: all .5s;
	touch-action:none;
}
nav.menu:before {
    content: "Menu de departamentos";
    font-weight: 800;
    border-bottom: 1px solid #c8c8c8;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 0 0 0.5rem 0;
}
nav.menu:after {
    content: "X";
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 800;
}
nav.menu ul {
    display: flex;
    flex-direction: column;
	margin-top: 5px;
}
nav.menu ul li {
    padding: 0.5rem 0;
}
nav.menu ul li.sale {
    text-transform: uppercase;
}
nav.menu ul li a {
    padding: 0.4rem 0;
    text-decoration: none;   
	font-size: 1.5rem;
}
nav.menu ul a.ativo {
	 color: #4ec2dd;
	 font-weight: 800;
}
.icon-shopping-cart,
.icon-menu-mobile {
    font-size: 2.2rem;
}
.icon-shopping-cart {
    color: #0f4156;
	position: relative;
}
.icon-shopping-cart .val-cart {
	background: #4ec2dd;
    color: #fff;
    font-weight: 800;
    font-size: 1.4rem;
    border-radius: 50%;
    position: absolute;
    top: -1.2rem;
    right: -0.8rem;
    padding: 0;
    font-style: normal;
    width: 2.3rem;
    height: 2.2rem;
    text-align: center;
    line-height: 2.2rem;
}

.busca {
    order: 4;
    border-radius: 3px;
    box-shadow: 1px 3px 10px #bbbbbb;
    padding: 0.5rem;
}
.busca .input-busca, 
.busca .icon-search {
    display: inline-block;
    vertical-align: middle;
	border: 0;
	padding-left: 0;
}
.icon-search {
    font-size: 1.7rem;
}
.busca .input-busca {
	color: #4ec2dd;
}

.carrinho {
    order: 5;
}

/*detalhe*/
.contem-Dt {
    display: block;
    clear: both;
	padding-bottom: 2rem;
}
.breadcrumb ul {
    display: flex;
    flex-direction: row;
    padding: 0 0 3rem 0;
    align-items: center;
}
.breadcrumb ul li {
	font-weight: 800;
}
.breadcrumb ul li:after {
    content: ">";
    margin: 1rem;
}
.breadcrumb ul li:last-child:after{
	display:none
}
.breadcrumb ul li.ativo {
	color: #4ec2dd;
	
}
.breadcrumb ul li a {    
    text-decoration: none;
}

.contem-foto {
    display: flex;
    flex-direction: column;
}
.foto-principal {
    margin: auto;
    border: 1px solid #c8c8c8;
}
ul.fotos-extras {
    order: 2;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 290px;
}
ul.fotos-extras li {
    padding: 0.5rem;
}
ul.fotos-extras a {
    border: 1px solid #fff;
    display: block;
}
ul.fotos-extras a:hover {
	border-color: #c8c8c8;
}

.prod-nome {
    font-weight: 400;
    font-size: 2.4rem;
    padding: 2rem 0;
}
.exibe-preco {
    margin: auto;
    display: table;
	font-size: 2rem;
}
.exibe-preco .preco-de, 
.exibe-preco .preco-por {
    display: block;
    clear: both;
}
.exibe-preco .preco-por {
    font-weight: 800;
    color: #4ec2dd;
}
.exibe-preco .preco-de {
    padding-bottom: 0.5rem;
}
.exibe-preco .val-preco-por {
    font-size: 3.6rem;
    font-weight: 800;
    color: #4ec2dd;
}

.bt {
    background: #71ce4b;
    color: #fff;
    border-radius: 4px;
    border: 0;
    padding: 1rem 3rem;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 2px 3px 2px #75ac5e;
    margin: 2rem auto;
    display: table;
    font-size: 2.2rem;
	cursor: pointer;
}

.calcula-frete {
    display: table;
    margin: 1rem auto;
    background: #4ec2dd;
    border-radius: 5px;
    margin: auto;
	padding: 1.5rem;
    color: #fff;
	min-width: 290px;
}
.calcula-frete .titulo {
    display: block;
    clear: both;
    color: #fff;
    padding: 0 0 1rem 0;
    text-transform: uppercase;
    font-weight: 800;
}

.calcula-frete .cep-inicio, 
.calcula-frete .cep-fim {
    display: inline-block;
    width: 6rem;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    box-shadow: 1px 2px 3px #868585;
	margin: 0 1rem 0 0;
    padding: 0.8rem 0.5rem;
    vertical-align: top;
}
.calcula-frete .cep-fim {
    width: 4rem;
}
.calcula-frete .bt-frete {
    background: #0f4156;
    box-shadow: 2px 2px 3px #5d5d5d;
    display: inline-block;
    font-size: 1rem;
    padding: 1.2rem 2rem;
    margin: 0 auto;
    vertical-align: top;
}
.info-frete p {
    margin-top: 1rem;
}
.lista-cep {
	display: block;
    clear: both;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    background: #ffffff;
    border: 1px solid #333333;
    margin: 2rem 0 0 0;
    max-width: 300px;
}
.lista-cep:after, 
.lista-cep:before {
	bottom: 100%;
	left: 6.5rem;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.lista-cep:after {
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}
.lista-cep:before {
	border-color: transparent;
	border-bottom-color: #333;
	border-width: 13px;
	margin-left: -13px;
}
.titulo-cep {
    display: block;
    clear: both;
    padding: 0 0 0.5rem 0;
	 color: #333;
}
.lista-cep .lb {
    display: block;
    clear: both;
    margin: 1rem 0 0 0;
    color: #333;
}
.lista-cep input[type="radio"] {
    vertical-align: middle;
}

.aba {
    display: block;
    clear: both;
    margin: 1.5rem auto 0 auto;
}
.aba .aba-titulo {
    display: block;
    clear: both;
    padding: 0.5rem 0;
    color: #0f4156;
    position: relative;
    border-bottom: 1px solid #0f4156;
}
.aba .aba-titulo:after {
    content: ">";
    position: absolute;
    right: 0.5rem;
    transform: rotate(90deg);
	transition: all 0.5s;
	font-size: 1.8rem;
}
.aba .aba-conteudo {
    overflow: hidden;
    max-height: 0;
	transition: all 1s;
}
.aba.on .aba-titulo:after {
    transform: rotate(-90deg);
}
.aba.on .aba-conteudo {
    max-height: 900px;
}
.aba .conteudo-ajustes {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
.aba .conteudo-ajustes p {
    line-height: 135%;
    padding: 0 0 0.5rem 0;
}

.lista-thumb {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly; */
	display: block;
}
.lista-thumb .thumb {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.thumb .prod-link {
    text-decoration: none;
}
.thumb .contem-thumb {
    padding: 0.5rem 1rem 3rem 1rem;
    margin: 0 0 1rem 0;
}
.thumb .contem-thumb:hover {    
	background: #e9e9e9;    
}
.thumb .thumb-nome {
    font-size: 1rem;
    display: block;
    clear: both;
    padding: 0.5rem 0 0 0;
    min-height: 3.5rem;
}
.thumb .exibe-preco {
    font-size: 1.1rem;
	text-align: center;
}
.thumb .exibe-preco .val-preco-de {
	padding-bottom: 0.5rem;
}
.thumb .exibe-preco .val-preco-por {
    font-size: 1.4rem;
}


/*footer*/
.footer {
    margin: 5rem 0 0 0;
}
.contem-footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.footer-col1 {
    background: #0f4156;
    padding: 3rem 1rem;
    width: 20%;
    text-align: center;
}
.footer-col2 {
    background: #4ec2dd;
    padding: 3rem 1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-col2 p {
    color: #fff;
    font-size: 1.2rem;
}




/*= 3A|. Media query 
=============================*/

@media screen and (min-width: 735px) {
	
	
	.contem-header {
		padding: 0 2rem 0 0;
	}
	.contem-header .logo {
		order: 1;
		width: 15%;
	}	
	.contem-header .icon-menu-mobile {
		display:none;
	}	
	nav.menu {
		order: 2;
		position: relative;
		left: auto!important;
		width: auto;
		padding: 0;
		z-index: 10;
	}
	nav.menu:before,
	nav.menu:after	{
		display:none;
	}
	nav.menu ul {
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	nav.menu ul li {
		padding: 0 1rem;
	}
	nav.menu ul li a {
		font-size: 2rem;
		padding: 0;
	}
	.busca {
		width: 40%;
		padding: 1rem 0.5rem;
		margin: 0 2.5rem;
	}
	.icon-shopping-cart {
		font-size: 3.6rem;
	}
	.icon-shopping-cart .val-cart {
		top: -0.5rem;
	}
	.icon-search {
		font-size: 2.2rem;
		margin: 0 1rem;
	}
	
	.contem-Dt {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding-bottom: 5rem;
	}
	.contem-foto {
		flex-direction: row;
		align-items: flex-start;
	}
	ul.fotos-extras {
		order: 1;
		width: auto;
		flex-direction: column;
	}
	.foto-principal {
		order: 2;
		margin: 0;
	}
	
	.col-dt2 {
		padding-left: 3rem;
	}
	
	.exibe-preco,
	.calcula-frete	{
		margin: auto;
		display: inline-block;
	}
	.bt {
		margin: 3rem 0;
	}
	
	.aba .aba-titulo {
		text-align: center;
		font-weight: 400;
		font-size: 2rem;
		border: 0;
		padding: 0 0 1.5rem 0;
	}
	.aba .aba-titulo:after {
		display: none;
	}
	.aba .aba-conteudo {
		max-height: none;
		padding-bottom: 4rem;
	}
	.aba .conteudo-ajustes {
		padding: 1.5rem 0 0 0;
	}
	.lista-thumb {
		display: block;
		text-align: center;
	}
	.lista-thumb .thumb {
		width: 33%;
	}
	.thumb .prod-link {
		font-size: 1.4rem;
	}
	.thumb .exibe-preco {
		font-size: 1.5rem;
		padding-top: 2rem;
	}
	.thumb .exibe-preco .val-preco-por {
		font-size: 2.2rem;
	}
	.aba.aba-relacionados {
		width: 70%;
		margin: auto;
	}
	.detalhe,
	.contem-header {
		margin: auto;
		width: 1000px;
		padding: 0;
	}
	

}

















